.user {
  display: flex;
  padding: 10px;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 10px;
  @media (max-width: 768px) {
    flex-direction: column;
  }

  &__item {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__label {
    font-weight: bold;
    font-size: 20px;
    padding-right: 10px;
  }

  &__buttons {
    display: flex;
    button {
      border: none;
      outline: none;
      cursor: pointer;
      background-color: #e4ccb6;
      padding: 10px;
      border-radius: 16px;
      font-weight: bold;
      color: #100a04;
      &:nth-of-type(1) {
        margin-right: 20px;
      }
    }
  }
}
